.venv/

# Ignore Prometheus/TSDB data files
config/yaml/data/

# Ignore result file
result/1_0_baseline/*
!result/1_0_baseline/.gitkeep

result/1_1_curl/*
!result/1_1_curl/.gitkeep

result/1_2_resource_web/*
!result/1_2_resource_web/.gitkeep

result/1_3_curl_cold/*
!result/1_3_curl_cold/.gitkeep

result/2_0_baseline/*
!result/2_0_baseline/.gitkeep

result/2_1_timeToFirstFrame/*
!result/2_1_timeToFirstFrame/.gitkeep

result/2_2_bitrate_fps/*
!result/2_2_bitrate_fps/.gitkeep

result/2_3_streaming_prom/*
!result/2_3_streaming_prom/.gitkeep

result/2_4_timeToFirstFrame_cold/*
!result/2_4_timeToFirstFrame_cold/.gitkeep

result/3_1_yolo_warm/*
!result/3_1_yolo_warm/.gitkeep

result/3_2_yolo_cold/*
!result/3_2_yolo_cold/.gitkeep

result/3_3_yolo_resource/*
!result/3_3_yolo_resource/.gitkeep

result/4_1_text2text/*
!result/4_1_text2text/.gitkeep

result/4_2_text2image/*
!result/4_2_text2image/.gitkeep

result/4_3_loadingtime/*
!result/4_3_loadingtime/.gitkeep

# Ignore python repos
__pycache__/

data/

note.txt