apiVersion: apps/v1
kind: Deployment
metadata:
  name: measure-streaming
  namespace: serverless
  labels:
    app: measure-streaming
spec:
  replicas: 1
  selector:
    matchLabels:
      app: measure-streaming
  template:
    metadata:
      labels:
        app: measure-streaming
    spec:
      containers:
      - name: measure-streaming-container
        image: docker.io/lazyken/measure-streaming:v2@sha256:735536871c64e7d08c0e63b1de3b490f7f97079767ea19dac0a6896b988deb4c
        env:
        - name: SOURCE_IP
          value: "192.168.17.130:2000" # Your desired default IP
        - name: SCALE_VALUE
          value: "1280:720" # Your desired default IP
        ports:
        - name: api
          containerPort: 5000
        - name: rtmp
          containerPort: 1935
        readinessProbe:
          httpGet:
            path: /stream/status
            port: api # Refers to the port named 'api' above
          initialDelaySeconds: 15
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /stream/status
            port: api
          initialDelaySeconds: 30
          periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: measure-streaming
  namespace: serverless
spec:
  type: NodePort
  selector:
    app: measure-streaming
  ports:
  - name: api
    protocol: TCP
    port: 5000       # Port the Service exposes internally in the cluster
    targetPort: api  # Port on the Pod (references port 'name' from Deployment)
  - name: rtmp
    protocol: TCP
    port: 1935       # Port the Service exposes internally in the cluster
    targetPort: rtmp # Port on the Pod