apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: measure-streaming
  namespace: serverless
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/min-scale: '1'
        autoscaling.knative.dev/max-scale: '1'
        autoscaling.knative.dev/window: "10s"
    spec:
      nodeSelector:
        kubernetes.io/hostname: cloud-node
      containers:
      - image: docker.io/lazyken/measure-streaming:v1@sha256:c98168647626ad432dffad085c1269508b519a5f52232949d3d8a91d9b519bfe
        ports:
        - containerPort: 1935
        readinessProbe:
          tcpSocket:
            port: 1935
          initialDelaySeconds: 5
          periodSeconds: 5
        env:
        - name: SOURCE_IP
          value: "192.168.253.129:2000"
        - name: SCALE_VALUE
          value: "1280x720"
        - name: RTMP_TARGET
          value: "rtmp://0.0.0.0:1935/live/stream"
        resources:
          limits:
            cpu: 100m       
            memory: 2Gi   
